* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo';
}


a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 450px);
    padding-right: calc(50% - 450px);
}

ul li {
    list-style-type: none;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #21243D;
    width: 497px;
}

.h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
}

.a__hover:hover {
    color: #FF6464;
    transition: 0.2s;
}

.h1 {

    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #21243D;
    margin-bottom: 40px;

}
