* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Heebo';
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 450px);
  padding-right: calc(50% - 450px);
}

ul li {
  list-style-type: none;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #21243D;
  width: 497px;
}

.h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
}

.a__hover:hover {
  color: #FF6464;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.h1 {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  color: #21243D;
  margin-bottom: 40px;
}

.header__height {
  height: 666px;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 140px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__text {
  margin-bottom: 47px;
}

.menu {
  text-align: right;
  margin-top: 27px;
}

.menu__link {
  color: black;
  margin-right: 33px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.menu__link_mobile {
  display: none;
}

.button {
  height: 47px;
  width: 208px;
  display: block;
  background: #FF6464;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  padding-top: 9px;
  padding-left: 20px;
  margin-bottom: 78px;
}

.button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 320px) and (max-width: 374px) {
  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 33px;
  }
  .header__right {
    margin: 0 auto;
  }
  .header__text {
    width: 280px;
    font-size: 14px;
    margin: 20px auto;
    line-height: 22px;
    text-align: center;
  }
  .header__h1 {
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
  }
  .header .menu__link {
    display: none;
  }
  .header .menu__link_mobile {
    display: block;
  }
  .text {
    font-size: 14px;
  }
  .button {
    margin: 20px auto;
  }
}

@media (min-width: 375px) and (max-width: 699px) {
  .header {
    height: 50px;
    padding-right: 7%;
    padding-left: 7%;
  }
  .header__height {
    height: 666px;
  }
  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 33px;
  }
  .header__right {
    text-align: center;
  }
  .header__h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin: 34px auto;
    width: 376px;
  }
  .header__text {
    text-align: center;
    width: 370px;
    margin: 0 auto 20px;
  }
  .button {
    width: 208px;
    height: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin: 0 auto;
  }
  .menu__link {
    display: none;
  }
  .menu__link_mobile {
    display: block;
  }
  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header__h1 {
    font-size: 38px;
  }
  .header__text {
    width: 430px;
    font-size: 15px;
  }
  .menu__link:nth-child(3n) {
    margin-right: 0px;
  }
}

.recent {
  height: 396px;
  background: #EDF7FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recent__a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #00A8CC;
  display: block;
  margin-top: 22px;
  margin-bottom: 15px;
}

.recent__block {
  width: 428px;
  height: 295px;
  background: white;
  padding: 20px;
}

.recent__h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
  margin-bottom: 20px;
}

.recent__date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px;
}

.recent__date_style {
  margin-right: 26px;
}

.recent__date_style2 {
  margin-left: 26px;
}

.recent__p {
  width: 368px;
}

@media (max-width: 890px) and (min-width: 769px) {
  .recent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 750px;
  }
  .recent__a {
    display: none;
  }
  .recent__h4 {
    text-align: center;
  }
}

@media (max-width: 768px) and (min-width: 700px) {
  .recent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 760px;
  }
  .recent__a {
    display: none;
  }
  .recent__h4 {
    text-align: center;
  }
}

@media (max-width: 699px) and (min-width: 375px) {
  .recent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 647px;
  }
  .recent__h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .recent__h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
  }
  .recent__date {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
  }
  .recent__a {
    display: none;
  }
  .recent__block {
    width: 354px;
    height: 266px;
  }
  .recent__p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    width: 314px;
    text-align: left;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  .recent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 650px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recent__block {
    width: 280px;
    height: 266px;
  }
  .recent__h2 {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 12px;
  }
  .recent__h4 {
    font-size: 17px;
    line-height: 50px;
    text-align: center;
  }
  .recent__a {
    display: none;
  }
  .recent__p {
    width: 250px;
  }
  .recent__date {
    font-size: 14px;
    line-height: 12px;
  }
}

.works__h1 {
  margin-top: 106px;
}

.works__img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.works__left {
  margin-right: 18px;
}

.works__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
}

.works__date {
  background: #142850;
  border-radius: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  padding: 0px 8px 0px 8px;
  color: #FFFFFF;
  margin-right: 26px;
}

.works__type {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

.works__p {
  width: 594px;
}

.works__h4 {
  margin-left: 15px;
}

.works__block {
  margin-left: 15px;
}

.works__hr {
  width: 828px;
  border: 1px solid #E0E0E0;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 29px;
}

@media (max-width: 950px) and (min-width: 768px) {
  .works {
    padding-left: 7%;
    padding-right: 7%;
  }
  .works__h1 {
    margin-top: 24px;
  }
  .works__hr {
    width: 700px;
  }
  .works__p {
    width: 450px;
  }
  .works__h4 {
    text-align: center;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .works {
    padding-left: 7%;
    padding-right: 7%;
  }
  .works__h1 {
    margin-top: 24px;
  }
  .works__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__h4 {
    text-align: center;
  }
  .works__p {
    width: 380px;
    text-align: left;
  }
  .works__right {
    text-align: center;
  }
  .works__hr {
    width: 410px;
    margin: 15px auto;
  }
  .menu__link_mobile {
    margin-right: 0;
  }
}

@media (max-width: 424px) and (min-width: 320px) {
  .works__h1 {
    margin-top: 24px;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    padding-left: 7%;
  }
  .works__h4 {
    font-size: 18px;
    line-height: 60px;
    text-align: center;
  }
  .works__h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .works__p {
    width: 300px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
    text-align: left;
  }
  .works__type {
    font-size: 16px;
    line-height: 23px;
  }
  .works__date {
    font-size: 15px;
  }
  .works__left {
    margin-bottom: 17px;
  }
  .works__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__right {
    text-align: center;
  }
  .works__hr {
    width: 310px;
    margin: 0px auto 20px;
  }
}

.footer {
  height: 182px;
  text-align: center;
  padding-top: 51px;
}

.social__a {
  margin-right: 35px;
}

.rights {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
  margin-top: 26px;
  margin-left: -30px;
}

.blog__h1 {
  margin-top: 106px;
}

.blog__a {
  margin-top: 106px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
  margin-bottom: 16px;
}

.blog__date {
  margin-bottom: 15px;
}

.blog__date_style {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #21243D;
  margin-right: 20px;
}

.blog__date_style2 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
  margin-left: 20px;
}

.blog__p {
  width: 682px;
  margin-bottom: 29px;
}

.blog__hr {
  width: 680px;
  border: 1px solid #E0E0E0;
  margin-bottom: 32px;
}

.active {
  color: #FF6464;
}

@media (max-width: 950px) and (min-width: 768px) {
  .blog {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 767px) and (min-width: 580px) {
  .blog {
    padding-left: 7%;
    padding-right: 7%;
  }
  .blog__hr {
    width: 495px;
  }
  .blog__h1 {
    margin-top: 10px;
  }
  .blog__p {
    width: 500px;
    margin-left: 0;
    text-align: left;
  }
  .blog__header {
    height: 50px;
  }
  .menu__link {
    display: none;
  }
  .menu__link_mobile {
    display: block;
  }
}

@media (max-width: 579px) and (min-width: 425px) {
  .blog {
    padding-left: 7%;
    padding-right: 7%;
  }
  .blog__h1 {
    margin-top: 10px;
  }
  .blog__p {
    width: auto;
    text-align: left;
    margin-left: 0;
  }
  .blog__hr {
    width: 375px;
    margin: 0 auto 15px;
  }
  .blog__header {
    height: 50px;
  }
}

@media (max-width: 424px) and (min-width: 375px) {
  .blog {
    padding-left: 7%;
    padding-right: 7%;
  }
  .blog__h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 18px;
    margin-top: 10px;
  }
  .blog__a {
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
  }
  .blog__date {
    margin-bottom: 17px;
  }
  .blog__date_style {
    font-size: 16px;
    line-height: 23px;
  }
  .blog__date_style2 {
    font-size: 16px;
    line-height: 23px;
  }
  .blog__p {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 24px;
    width: 320px;
  }
  .blog__hr {
    width: 330px;
  }
  .blog .text {
    text-align: left;
    margin-left: 0;
  }
  .blog__header {
    height: 50px;
  }
  .footer {
    margin-left: 44px;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  .blog {
    padding-left: 5%;
    padding-right: 5%;
  }
  .blog__h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 60px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .blog__a {
    font-weight: 500;
    font-size: 19px;
    line-height: 38px;
  }
  .blog__date {
    margin-bottom: 15px;
  }
  .blog__date_style {
    font-size: 14px;
    line-height: 23px;
  }
  .blog__date_style2 {
    font-size: 14px;
    line-height: 23px;
  }
  .blog__p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
    width: 300px;
  }
  .blog__hr {
    width: 290px;
  }
  .blog__header {
    height: 50px;
  }
  .blog .text {
    text-align: left;
  }
  .footer {
    margin-left: 44px;
  }
  .footer .social__a {
    margin-right: 25px;
  }
}

.detail__h1 {
  margin-top: 78px;
  font-weight: bold;
  font-size: 34px;
  line-height: 50px;
  margin-bottom: 30px;
}

.detail__date {
  font-size: 20px;
  line-height: 29px;
  background-color: #FF7C7C;
}

.detail__type {
  font-size: 20px;
  line-height: 29px;
}

.detail__p {
  margin-top: 23px;
  width: 681px;
}

.detail__img {
  margin-top: 46px;
}

.detail__h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 60px;
}

.detail__h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
}

@media (max-width: 950px) and (min-width: 768px) {
  .detail {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 767px) and (min-width: 560px) {
  .detail {
    padding-left: 7%;
    padding-right: 7%;
  }
  .detail__img {
    width: 500px;
  }
  .detail__p {
    width: 500px;
  }
  .detail__h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media (max-width: 559px) and (min-width: 425px) {
  .detail {
    padding-left: 7%;
    padding-right: 7%;
  }
  .detail__img {
    width: 380px;
  }
  .detail__p {
    width: 390px;
    font-size: 14px;
  }
  .detail__h1 {
    font-size: 22px;
    margin-top: 10px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .detail__date {
    font-size: 15px;
  }
  .detail__type {
    font-size: 17px;
  }
  .detail__h4 {
    font-size: 27px;
    line-height: 50px;
    margin-top: 30px;
  }
  .detail__h5 {
    font-size: 21px;
    line-height: 50px;
  }
}

@media (max-width: 424px) and (min-width: 375px) {
  .detail {
    padding-left: 5%;
    padding-right: 5%;
  }
  .detail__img {
    width: 320px;
  }
  .detail__p {
    width: 320px;
  }
  .detail__h1 {
    font-size: 20px;
    line-height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .detail__date {
    font-size: 15px;
  }
  .detail__type {
    font-size: 15px;
  }
  .detail__h4 {
    font-size: 24px;
    line-height: 40px;
    margin-top: 30px;
  }
  .detail__h5 {
    font-size: 17px;
    line-height: 40px;
  }
  .menu__link_mobile {
    margin-right: 0;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  .detail {
    padding-left: 3%;
    padding-right: 3%;
  }
  .detail__img {
    width: 290px;
  }
  .detail__p {
    width: 290px;
  }
  .detail__h1 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .detail__date {
    font-size: 12px;
  }
  .detail__type {
    font-size: 13px;
  }
  .detail__h4 {
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
  }
  .detail__h5 {
    font-size: 15px;
    line-height: 30px;
  }
  .menu__link_mobile {
    margin-right: 3%;
  }
}
/*# sourceMappingURL=style.css.map */