.works {
    &__h1{
        margin-top: 106px;
    }
    &__img:hover{
        transition: 0.3s;
        transform: scale(1.04);
    }
    
    &__left {
        margin-right: 18px;
    }

    &__block {
        display: flex;

    }

    &__h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        color: #21243D;
    }

    &__date {
        background: #142850;
        border-radius: 16px;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 60px;
        padding: 0px 8px 0px 8px;
        color: #FFFFFF;
        margin-right: 26px;
    }

    &__type {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        color: #8695A4;
    }

    &__p {
        width: 594px;
    }

    &__h4 {
        margin-left: 15px;
    }

    &__block {
        margin-left: 15px;
    }

    &__hr {
        width: 828px;
        border: 1px solid #E0E0E0;
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 29px;
    }
}

@media(max-width:950px)and(min-width:768px) {
    .works {
        &__h1{
            margin-top: 24px;
        }
        padding-left: 7%;
        padding-right: 7%;
        &__hr {
            width: 700px;
        }

        &__p {
            width: 450px;
        }

        &__h4 {
            text-align: center;
        }
    }
}

@media(max-width:768px)and(min-width:425px) {
    .works {
        &__h1{
            margin-top: 24px;
        }
        padding-left: 7%;
        padding-right: 7%;
        &__block {
            flex-direction: column;
            align-items: center;
        }

        &__h4 {
            text-align: center;
        }

        &__p {
            width: 380px;
            text-align: left;
        }

        &__right {
            text-align: center;
        }

        &__hr {
            width: 410px;
            margin: 15px auto;
        }
        
    }
    .menu__link_mobile{
        margin-right: 0;
    }
}

@media(max-width:424px)and(min-width:320px) {
    .works{
        &__h1{
            margin-top: 24px;
            font-weight: bold;
font-size: 30px;
line-height: 60px;
padding-left: 7%;
        }
        &__h4 {
            font-size: 18px;
            line-height: 60px;
            text-align: center;
        }

        &__h3 {
            font-size: 24px;
            line-height: 30px;
        }

        &__p {
            width: 300px;
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 10px;
            text-align: left;
        }

        &__type {
            font-size: 16px;
            line-height: 23px;
        }
        &__date{
            font-size: 15px;
        }

        &__left{
           margin-bottom: 17px;
        }
        &__block {
            flex-direction: column;
            align-items: center;

        }
        &__right{
            text-align: center;
        }

        &__hr {
            width: 310px;
            margin: 0px auto 20px;
        }
    }
}