.recent {
    height: 396px;
    background: #EDF7FA;

    &__top {
        display: flex;
        justify-content: space-between;
        margin: 0px 70px;
        padding-top: 14px;
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
    }

    &__a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: right;
        color: #00A8CC;
        margin-top: 23px;
        &:hover{
            color: #FF6464;
            transition: 0.3s;
        }
    }

    &__block {
        width: 428px;
        height: 295px;
        background: white;
        padding: 20px;
    }

    &__h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 38px;
        color: #21243D;
        margin-bottom: 20px;
    }

    &__date {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 11px;
    }
    &__p{
        width: 368px;
       }

}